body {
    margin:0px;
    padding:0px;
    font-size:12px !important;
    background-color:#f8f8f8;
    outline:none;
    font-family:futura,verdana,helvetica,futura;
}
.separator {
    width: 100%;
    border-top: 2px groove #FFF;
    margin: 5px -5px 5px -3px;
}
input,a,li {
    outline:none;
}

 td,  th { 
    border-radius:0px;
    border:1px solid black;
    border-bottom:0px;
    border-right:0px;
}
 td:last-child, th:last-child {
    border-right:1px solid black;
    
}
 tr:last-child>td, tr:last-child>th{
    border-bottom:1px solid black;
}
.content {
    padding:20px;
}
.top{
    margin:0px;
    background:#058;
    padding:6px;
    text-align: center;
    height:50px;
}
h1{
    text-shadow:2px 2px 0px black;
    display:inline;
    margin:0px;
    font-size:30px;
}
a:active, a:hover,a:focus ,a{
    text-decoration:none;
    color:white;  
}