body {
    margin:3px;
    font:7px;
    background-color:#f8f8f8;
    width:300px;
        font-family:futura,verdana,helvetica,futura;
    min-width:300px;    
    outline:none;
}
.separator {
    width: 100%;
    border-top: 2px groove #FFF;
    margin: 5px -5px 5px -3px;
}
input,a,li {
    outline:none;
}